@using BlogEngine.Core
@{
    var title = Model.Title;
    var dashboardUrl = Utils.RelativeWebRoot + "admin/index.cshtml";
    var contentUrl = Utils.RelativeWebRoot + "admin/#/content/posts";
    var customUrl = Utils.RelativeWebRoot + "admin/#/custom/themes";
    var settingsUrl = Utils.RelativeWebRoot + "admin/#/settings/basic";
    var profileUrl = Utils.RelativeWebRoot + "admin/#/security/profile";
    var passwordUrl = Utils.RelativeWebRoot + "Account/change-password.aspx";
}
@if (Security.IsAuthenticated)
{
    <div class="widget administration">
        <h4 class="widget-header">@title</h4>
        <div class="widget-content">
            <ul class="toprounded" id="uxMenu_ulMenu">
                @if (Security.IsAuthorizedTo(Rights.ViewDashboard))
                {
                    <li><a href="@dashboardUrl"><span>Dashboard</span></a></li>
                }
                @if (Security.IsAuthorizedTo(Rights.CreateNewPosts))
                {
                    <li><a href="@contentUrl"><span>Content</span></a></li>
                }
                @if (Security.IsAuthorizedTo(Rights.ManageThemes))
                {
                    <li><a href="@customUrl"><span>Custom</span></a></li>
                }
                @if (Security.IsAuthorizedTo(Rights.AccessAdminSettingsPages))
                {
                    <li><a href="@settingsUrl"><span>Settings</span></a></li>
                }
                <li><a href="@profileUrl"><span>My Profile</span></a></li>
                <li><a href="@passwordUrl"><span>Change password</span></a></li>
            </ul>
        </div>
    </div>
}